.img{
    width:200px;
    height: 200px;
    border-radius: 100%;
}
.name1{
    display: flex;
    justify-content: space-around;
}
.name{
    margin-top: 50px;
}
*{
    font-family: "Poppins", sans-serif;
  
  font-style: normal;
 
}
p{
    padding: 5px;
}
.whole{
    border: 2px solid black;
}
